/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.welcome-box {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  width: 100%;
}
.welcome-box .welcome-box-column {
  background-color: #fff;
  box-sizing: border-box;
  padding: 12px;
  display: table-cell;
}
.welcome-box .welcome-box-column h3.welcome-box-heading {
  font-size: 1.5em;
}
.welcome-box .welcome-box-column h3.welcome-box-heading::before {
  font-size: 3em;
  height: 1em;
  width: 1em;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.welcome-box .welcome-box-column .we-love::before {
  color: red;
}
.welcome-box .welcome-box-column .cta-button {
  display: block;
  text-align: center;
  font-weight: 600;
}
.welcome-box .welcome-box-column.love {
  background-color: #ffe4e1;
}
@media screen and (max-width: 768px) {
  .welcome-box {
    display: block;
  }
  .welcome-box .welcome-box-column {
    display: block;
    margin: 10px;
  }
}
.jlb-credits-nag {
  background-color: #fff;
  border-left: 4px solid #f00;
  padding: 12px;
}
